[Bb]uild/
debug_gcc_build/*
release_gcc_build/,
debug_clang_build/*
release_clang_build/*
build_static_analysis/*
3rdparty/implot/*
3rdparty/imgui-filebrowser/*
debug_*/
release_*/
.cache/
*.swp
*.o
*.gb
B/
tryouts/
tests/test_roms/
imgui.ini
compile_commands.json
/.vs
/.cmake
.xmake/
.vscode/
subprojects/SDL2-2.30.3
subprojects/imgui-1.89.9
subprojects/packagecache
subprojects/range-v3-0.12.0
subprojects/CLI11-2.4.1
subprojects/SFML-2.6.1
subprojects/fmt-10.2.0
subprojects/imgui-sfml-2.6
3rdparty/fonts/
3rdparty/imgui_club/
subprojects/CLI11-2.4.2
subprojects/SDL2-2.30.6
subprojects/fmt-11.0.2
subprojects/imgui-1.91.3
subprojects/nlohmann_json-3.11.3
subprojects/Catch2-2.13.7
