[Bb]uild/
debug_gcc_build/*
release_gcc_build/,
debug_clang_build/*
release_clang_build/*
out/build/${presetName/*
build_static_analysis/*
3rdparty/implot/*
3rdparty/imgui-filebrowser/*
debug_*/
release_*/
.cache/
*.swp
*.o
*.gb
B/
tryouts/
tests/test_roms/
imgui.ini
compile_commands.json
/.vs
/.cmake
subprojects/SDL2-2.30.3
subprojects/imgui-1.89.9
subprojects/packagecache
subprojects/range-v3-0.12.0
